<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teammgh.cnboard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cnboard"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:appComponentFactory="whateverString"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"/>
        <activity android:name=".NoticeDetailActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EnrolmentActivity"/>
        <activity android:name=".LakeViewActivity"/>
        <activity android:name=".InputSubject"/>
        <activity android:name=".DdayActivity"/>
        <activity android:name=".MainActivity_Dday"/>
    </application>

</manifest>